h4,h3,h2{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;
    color:aliceblue
}
p{
    font-size: medium;
}

body{
    background-image: url("C:/Users/mukad/Desktop/resimler/arkaplan2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
 

#sağ{
text-align: left; 

 width: 27%;
 height: 45%;
 float: left;
 background-color: rgb(243, 174, 186);
 margin-bottom: 25px;
 margin-right: 25px;
 margin-left: 5px;
 border: 2px;
 border-style:groove;
 border-color:grey;
 padding-left: 31px;
 padding-right: 27px;
border-radius: 5px;
}
a{
    color: rgb(85, 88, 88);
}
.fa-instagram {
    
    color: rgb(252, 161, 161);
}
.fa-twitter {
    
    color: rgb(252, 161, 161);
}
.fa-linkedin {
    
    color: rgb(252, 161, 161);
}
.fa-pinterest {
    
    color:  rgb(252, 161, 161);
}
#box{
    float:right;
    width:395px;
    background-color:#ccc;
    height:250px;
    margin-top:100px;
    padding-top: 100px;
    position: absolute;
    margin: auto;
    float: right;
    float: unset;

}
img{
    float: left;
    width: 40px;
    height: 30px;
}
.yaşam{
    margin-top: 30px;
  background-color: rgb(243, 174, 186);
  height: 35%;
  width: 55%;
  float: left;
  padding-left: 17px;
  padding-right: 17px;
  border: 47px;
  border-color: #ccc;
  border-radius: 5px;
}
.box1{
    width: 100%;
    height: 100%;
   
}
#sol{
    float: left;
    height: 37%;
    width: 35%;
    background-color: rgb(243, 174, 186);
    border: 2px;
    border-style:groove;
    border-color:grey;
    overflow: auto;
    padding-left: 17px;
    border-radius: 5px;
}
.img{
    width: 70px;
    height:58px;
}
strong{
    color: rgb(245, 140, 140);
}
.box2{
    background-color: #f0f1f2;
    float: left;
    
}
button{
    background-color: rgb(243, 174, 186);
    color: rgb(92, 94, 94);
    width: 155px;
    height: 75px;
    float: right;
    border-color: grey;
}
button:hover{
    opacity: 0.7;
}
#agac{
    margin-top: 32px;
    margin-bottom: 2px;
    float: left;
    width: 30%;
    height: 30%;
    border-radius: 5px;
}
.tüm{
    width: 100%;
    height: 100%;
    background-color: red;
}
.resim{
    
    height: 80%;
    width: 70%;
    padding-left: 150px;
    padding-top: 17px;
    
    
    
}
hr{
    color: grey;
    
}
.yaşam1{
    background-color: rgb(243, 174, 186);
    height: 40%;
    width: 55%;
    float: right;
    margin-top: 30px;
    overflow: auto;
    padding-left: 17px;
    padding-right: 5px;
    border-radius: 5px;
  }
  .resim1{
    float: right;
    height: 80%;
    width: 80%;
    padding-left: 60px;
    padding-right: 140px;
    
    
  }
  .karmaşa{
    
    float: right;
    width: 30%;
    height: 50%;
    margin-top: 100px;
    
  }
  .d1{
    height: 20px;
  }
  .d2{
    
    float:right;
    color: rgb(252, 161, 161);
     padding-right:895px; 
     height: 20px;
     width: 10%;
     
  }

  a:active{
    background-color: grey;
  }
  a:hover{
    color: #f0f1f2;
  }
 .m{
 float: left;
    height: 30%;
    width: 30%;
    padding-top: 100px;
    padding-left: 107px;
    
 }
 